<li class="todo-item" data-id={{id}}>
  <span>{{text}}</span>
  <div class="controls">
    <input class="checkbox" type="checkbox" {{#if isDone}} checked {{/if}} />
    <button class="close-button">x</button>
  </div>
</li>